<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="<%= user.Photo %>" class="img-fluid rounded-start" alt="..." style="height: 150px; width: 145px">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h1 class="author_name"><%= user.Name %></h1>
        <p class="card-text" style="float: right"><small class="text-muted">Number of posts: <%= user.PostsCounter > 0 ? user.PostsCounter : 0 %></small></p>
      </div>
    </div>
  </div>
</div>