<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="<%= user.Photo %>" class="img-fluid rounded-start" alt="..." style="height: 150px; width: 145px">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= user.Name %></h5>
        <p class="card-text"><small class="text-muted">Number of posts: <%= user.PostsCounter > 0 ? user.PostsCounter : 0 %></small></p>
      </div>
    </div>
  </div>
</div>